.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 14px 0 11px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing--regular);
    }
}