.button {
  background-color: var(--color-primary);
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  padding: 11px 17px;
  gap: 10px;
  border-radius: 30px;
  font-size: var(--font-size--medium);
  letter-spacing: 1px;
  line-height: 86.667%;
  align-items: center;
  transition: background-color ease 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-primary-dark);
  }
}
